@import url(reset.css);
/* General */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #feb4d2;
  font-size: 1rem;
  background: #fff;
  color: #3b3b3b; }

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden; }

.left {
  width: 65%;
  height: 100vh;
  background: url("../img/girl.png");
  -webkit-background-size: cover;
          background-size: cover;
  position: relative; }

.footer {
  width: 100%;
  background: rgba(255, 255, 255, 0.75);
  bottom: 0;
  position: absolute;
  padding-left: 115px; }
  .footer li {
    padding: 10px;
    color: #3b3b3b;
    display: inline-block;
    font-weight: bold; }

.right {
  width: 35%;
  height: 100vh; }

.item {
  height: 100vh; }
  .item .item-header {
    height: 20vh;
    margin-bottom: 70px; }
  .item .item-main {
    margin-left: 50px;
    position: relative; }
  .item .heart-block {
    width: 75px;
    height: 75px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    position: absolute;
    top: -20px;
    left: -95px; }
  .item .heart {
    margin: 25% 28%; }
  .item h2 {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 2%; }

.item__one {
  border-left: 13px solid #fc5095;
  background-color: #fff; }
  .item__one .item-header {
    background-color: #fc5095; }
  .item__one .heart-block {
    background-color: #f6f5f5;
    border: 13px solid #fc5095; }
  .item__one .heart,
  .item__one .heart:before {
    background-color: #fc5095; }
  .item__one h2 {
    color: #fc5095; }
  .item__one .item-main__text {
    font-size: 1.5rem; }
  .item__one .item-main__question {
    font-size: 2rem;
    margin: 20vh 0 10%;
    text-transform: uppercase;
    font-weight: bold; }
  .item__one .item-btn__start {
    padding: 10px 10%;
    -webkit-border-radius: 5%;
            border-radius: 5%;
    outline: 0;
    border: 0;
    background-color: #fc5095;
    text-transform: uppercase;
    color: #fff;
    font-size: 2.4rem;
    font-weight: bold; }
  .item__one .item-btn__start:hover {
    background-color: #fb257b; }

.item__two {
  border-left: 13px solid #fc8950;
  background-color: #f6f5f5; }
  .item__two .item-header {
    background-color: #fc8950; }
  .item__two .heart-block {
    background-color: #f6f5f5;
    border: 13px solid #fc8950; }
  .item__two .heart,
  .item__two .heart:before {
    background-color: #fc8950; }
  .item__two h2 {
    color: #fc8950; }
  .item__two .item-btn__choose {
    padding: 10px 10%;
    margin-bottom: 2%;
    margin-right: 10%;
    -webkit-border-radius: 5%;
            border-radius: 5%;
    outline: 0;
    border: 1px solid #3b3b3b;
    background-color: #fff;
    text-transform: uppercase;
    color: #3b3b3b;
    font-size: 1.5rem;
    display: block; }
  .item__two .item-btn__continue {
    padding: 10px 10%;
    -webkit-border-radius: 5%;
            border-radius: 5%;
    outline: 0;
    border: 0;
    background: #fc8950;
    text-transform: uppercase;
    color: #fff;
    font-size: 2.4rem;
    font-weight: bold;
    margin-top: 5vh; }
  .item__two .item-btn__continue:hover {
    background-color: #fb6216; }

.item__three {
  border-left: 13px solid #1da7c0;
  background-color: #f6f5f5; }
  .item__three .item-header {
    background-color: #1da7c0; }
  .item__three .heart-block {
    background-color: #f6f5f5;
    border: 13px solid #1da7c0; }
  .item__three .heart,
  .item__three .heart:before {
    background-color: #1da7c0; }
  .item__three h2 {
    color: #1da7c0; }
  .item__three .item-btn__choose {
    display: inline;
    padding: 5px 6%;
    margin: 2px 1px 5px 0;
    -webkit-border-radius: 5%;
            border-radius: 5%;
    outline: 0;
    border: 1px solid #3b3b3b;
    background-color: #fff;
    text-transform: capitalize;
    color: #3b3b3b;
    font-size: 1rem; }
  .item__three .form_var1 {
    background: url("../img/var1.png") no-repeat;
    padding-left: 30px; }
  .item__three .form_var2 {
    background: url("../img/var2.png") no-repeat;
    padding-left: 30px; }
  .item__three .item-btn__continue {
    padding: 10px 10%;
    -webkit-border-radius: 5%;
            border-radius: 5%;
    outline: 0;
    border: 0;
    background: #1da7c0;
    text-transform: uppercase;
    color: #fff;
    font-size: 2.4rem;
    font-weight: bold;
    margin-top: 5vh; }
  .item__three .item-btn__continue:hover {
    background-color: #157b8d; }
  .item__three label {
    font-size: 0.8rem;
    padding-top: 10px; }
  .item__three .item-span__addition {
    font-size: 0.7rem; }

.hidden {
  display: none; }

.show {
  display: block; }

.heart {
  position: relative;
  width: 15px;
  height: 25px;
  -webkit-border-radius: 50px 50px 0 0;
          border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(315deg);
      -ms-transform: rotate(315deg);
          transform: rotate(315deg); }

.heart:before {
  position: absolute;
  width: 25px;
  height: 15px;
  left: 0;
  bottom: 0;
  content: "";
  -webkit-border-radius: 0 50px 50px 0;
          border-radius: 0 50px 50px 0; }

.content {
  display: none; }

.right.wide-right {
  width: 45%; }

.left.wide-left {
  width: 55%; }

.content.show {
  display: block; }

.item__two .chosen {
  background: #fc8950; }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px); }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px); }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px); }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px); }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  10%,
  30%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px); }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px); } }

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  10%,
  30%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px); }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px); } }

.modal-overlay__procent.active {
  display: block;
  overflow: hidden; }

.modal-overlay__procent {
  display: none;
  width: 100%;
  opacity: .5;
  padding-top: 15vh;
  font-size: 40vh;
  height: 100vh;
  background: #fc8950;
  color: #fff; }

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s; }

/* Adaptive */
@media only screen and (min-width: 900px) and (max-width: 1070px) {
  html {
    font-size: 14px; }
  .item h2 {
    font-size: 1.7rem; }
  .item .item-header {
    height: 15vh; } }

@media only screen and (max-width: 899px) {
  html {
    font-size: 12px; }
  .item h2 {
    font-size: 1.5rem; }
  .item .item-header {
    height: 10vh; } }

@media only screen and (max-width: 768px) {
  html {
    font-size: 11px; }
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .left {
    width: 100%; }
  .right {
    width: 100%; }
  .right.wide-right {
    width: 100%; }
  .left.wide-left {
    width: 100%; } }

@media only screen and (max-width: 599px) {
  html {
    font-size: 10px; } }

@media only screen and (max-width: 420px) {
  html {
    font-size: 9px; } }
